<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">NabdaCare</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <mat-card *ngFor="let location of locations" style="margin-top: 5px;">
          <div style="flex: 1;">
            <h4>{{location.name}}</h4>
          </div>
          <div style="flex:1">
            <small style="color: gray;">{{location.formatted_address}}</small>
          </div>
        </mat-card>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <agm-map  [latitude]="lat" [longitude]="lng" >
        <agm-marker  *ngFor = "let post of locations" [latitude]="post.latitude" [longitude]="post.longitude"></agm-marker>
    </agm-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
